.board-container {
    height: 100%;
    max-width: 100%;
    width: fit-content;
    padding: 0.5rem;
    width: 100%;
}

.board-container .board-header {
    display: flex;
    justify-content: space-between;
    padding-inline: 2.5px;
    margin: 0 20px 20px 0;
}

.board-container .board-hero {
    display: grid;
    gap: 1rem;
}
